<div id="logins" class="col-md-12">
  <div class="well">
      <p>Please Login first!</p>
      <a id="login" href="#" class="btn btn-default">Login</a>
      <a id="fakeLogin" href="javascript:fakeLogin();" class="btn btn-primary">Fake Login</a>
  </div>
</div>
<div class="col-md-12">
  <div class="well" ng-controller="ChecksCtrl" ng-init="init('water')">
    <a class="btn btn-primary" ng-click="addCheck()">Check Water</a>
    <span ng-repeat="check in checks.models">W </span>
  </div>
  <div class="well" ng-controller="ChecksCtrl" ng-init="init('food')">
    <a class="btn btn-primary" ng-click="addCheck()">Check Food</a>
    <span ng-repeat="check in checks.models">F </span>
  </div>
</div>
